.user-list {
  padding: 0 32px;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-content: start;

  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.card-wrapper {
  position: relative;
}

.shimmer {
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background: linear-gradient(90deg, lightgray 25%, gainsboro 50%, lightgray 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
