.user-list {
  padding: 0 32px;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-content: start;

  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
